<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".tools.T0App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/t_icon0"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/t_icon0"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doit"
        tools:targetApi="31">
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"
            tools:replace="android:resource" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fvgtyhuj" />

        <activity
            android:name=".ui.activitys.T4Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.T3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.T2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.T1Activity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.T0Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>